<div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5CtDjuB7hZg5IFYlp5JCHgsns2QporagJ9Q&usqp=CAU" alt="" class="logo">
      <p>Chao mung den voi trang web</p>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">WE10303</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
  </div>