
<div class="aside">
    <ul class="nav flex-column">
       
            <li class="list-group-item list-group-item-info">
                <a class="nav-link active" href="#">Trang chu</a>
              </li>
    
        
        <li class="list-group-item list-group-item-info">
          <a class="nav-link" href="#">product</a>
        </li>
        <li class="list-group-item list-group-item-info">
          <a class="nav-link" href="#">studen</a>
        </li>
        <li class="list-group-item list-group-item-info">
          <a class="nav-link disabled" href="#">Thoat</a>
        </li>
      </ul>
</div>
